:root {
  --color_principal: rgb(170, 2, 2);
  --color_secundario: rgb(234, 194, 36);
}

html, body{
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    background-image: url(../img/wall.jpg);
    color: var(--color_secundario);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    background-color: var(--color_principal);
    border-radius: 10%;
}
.cantidad{
    display: flex;
    align-items: center;
    gap: 10px;
}

.total{
    height: 200px;
    width: 200px;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_principal);
    border-radius: 10%;
}
button{
    height: 50px;
    width: 50px;
    background-color: var(--color_secundario);
    border-radius: 10%;
    transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

}
button:active {
  transform: translateY(3px) scale(0.97);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


img{
    height: 250px;
}